#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2em;
  background-color: #2f2f2f;
  border: 1px solid #444;
  border-radius: 10px;
}

form h2 {
  margin-top: 0;
  color: #646cff;
  text-align: center;
}

form label {
  text-align: left;
  font-weight: 500;
  margin-bottom: -8px;
}

input[type="email"],
input[type="password"],
input[type="number"] {
  font-size: 1em;
  padding: 0.8em 0.6em;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #3e3e3e;
  color: #f9f9f9;
}

form button[type="submit"] {
  margin-top: 10px;
  padding: 0.8em;
  background-color: #646cff;
  color: white;
  font-weight: 600;
}

form button[type="submit"]:hover {
  background-color: #535bf2;
}

div > h2 {
  text-transform: uppercase;
  color: #646cff;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #444;
}

th {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 12px 15px;
  text-align: left;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #444;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #3c3c3c;
}

div > p {
    font-size: 1.1em;
    font-style: italic;
    color: #999;
    margin-top: 2rem;
}

form > p {
  font-weight: 500;
  padding: 0.8em;
  border-radius: 5px;
  margin: 0;
  text-align: center;
}

.error {
  color: #ffaeae;
  background-color: #4d2020;
}

.success {
  color: #aeffae;
  background-color: #204d20;
}